.sent {
  background-color: #ccebff;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 8px;
  align-self: flex-end;
}

.received {
  background-color: #bfc4bf;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 8px;
  align-self: flex-start;
}