.container__form{

    height: auto;
}

.label{
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
}

.input {
    min-width: 300px;
    border-radius: 10px;
}


/************** Add_Rutas ****************/

.container_AddRuta{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}

@media (max-width:320px) {
    .input {
        min-width: 220px;
    }
}