.header_nav{
    display: flex;
    height: 15%;
    width: 100%;
    align-items: flex-start;
    background-color: #00A2FE;
    margin-bottom: 5px;
}

.header_nav h2{
    font-size: 2rem;
}

.btn_nav{
    display: flex;
    align-items: center;
    min-width: 100%;
    height: auto;
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    padding: 20px;
    transition: 0.6s; 
  }

.btn_nav .route{
    font-size: 1.8rem;
  }

  .btn_nav p{
    font-size: 1.4rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
  }


  /*Users*/

  .user_container{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;

  }

  .user__img{
    display: flex;
    height: 80px;
    background-color: aliceblue;
    width: 80px;
    border-radius: 2em;

  }