.header_nav{
    display: flex;
    height: 140px;
    width: 100%;
    align-items: flex-start;
    background-color: #00A2FE;
    margin-bottom: 5px;
}

.header_nav h2{
    font-size: 2rem;
}

/*** nav ***/

.title_nav {
margin-left: 8px;
}

.btn_return{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 50%;
  padding: 10px;
  position: relative;
  height: 50px;
  width: 50px;
}

.btn_return:hover{

  background-color: rgba(0, 0, 0, 0.056);

}

.btn_return a{

  text-decoration: none;
}

.btn_return svg{

  color: black;
  font-size: 1.08rem;

}

.btn_return svg:hover{
  color: rgb(37, 36, 36);
  font-size: 1.10rem;
}

.btn_edit{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.btn_edit svg{
 height: 30px;
 width: 30px;
 cursor: pointer;
}


/*** Menu desplegable ***/
  .btn_nav{
    display: flex;
    align-items: center;
    min-width: 100%;
    height: auto;
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    padding: 20px;
    transition: 0.6s; 
    text-decoration: none;
    color: black;
  }

  .btn_nav .route{
    font-size: 1.8rem;
  }

  .btn_nav p{
    font-size: 1.4rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
  }

  .btn_nav__logout{
    display: flex;
    align-items: flex-end;
    min-width: 100%;
    height: auto;
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    padding: 25px;
    transition: 0.6s; 
    margin-top: auto;
  }

  .btn_nav__logout p{
    font-size: 1.4rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
  }

  .btn_nav__logout .route{
    font-size: 1.8rem;
  }



  /*** Users  ***/

  .user_container{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
  }

  .user__img{
    display: flex;
    height: auto;
    width: auto;
    margin-right: 15px;

  }

  .container__img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px; 
    width: 70px;
    background-color: aliceblue;
    border-radius: 50%;

  }

  .container__img  img{
    height: 100%;
    width: 100%;
    object-fit: fill;
  }

  .user__info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 50%;
 
  }

  .user__info p{
    font-size: 1rem;
    height: 10px;
    text-align: start;
  }

  
@media (max-width: 320px) {

  /***********Header Nav************/
  .user__img{
    
    margin-right: 5px;

  }

  .container__img{
 
    height: 50px; 
    width: 50px;
    


  }

  .user__info p{
    font-size: 0.70rem;
    height: 10px;
    text-align: start;
  }

  /***************Botones****************/

  .btn_nav p{
    font-size: 1.02rem;
  
  }

  .btn_nav__logout p{
    font-size: 1.08rem;
  
  }




}