.container_routes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 10px;
    padding-top: 10px;
    min-height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.botonRuta{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    width: 95%;
    background: #EDEDED;
    border-radius: 25px;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
}

.botonRuta:hover{

    background: #c8c8c8;

}

.textContainer__Ru{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding-left: 5px;
}

.textContainer__Ru h2{
    font-size: 2rem;
    font-weight: 400;
}

.textContainer__Ru p{
    font-size: 1rem;
    font-weight: 600;
}

.textContainer__Ho{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 5px;
}

.textContainer__Ho p{
    font-size: 1rem;
    font-weight: 600;
}

.Route_view{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    border-radius: 2em;
    padding: 10px;
    background-color: white;
    height: 45%;
    width: 100%;
    margin-bottom: 5px;
    overflow-y: scroll;
    position: absolute;
    z-index: 2;
    bottom: 0;
}

.btn_return{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 50%;
    padding: 10px;
}

.btn_return{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 50%;
    padding: 10px;
}

/* Paradas */

.textContainer__lu{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding-left: 5px;
    justify-content: center;
}

.textContainer__lu p{
    font-size: 1rem;
    font-weight: 600;
}

.textContainer__km{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding-left: 5px;
    align-items: flex-end;
    justify-content: center;
}

.textContainer__km p{
    font-size: 1rem;
    font-weight: 600;
}


/*Responsive*/

@media screen and (max-width: 600px){

    .textContainer__Ru h2{
    font-size: 1.5rem;
    font-weight: 400;
}

    .textContainer__Ru p{
    font-size: 0.8rem;
    font-weight: 600;
}

    .textContainer__Ho p{
    font-size: 1rem;
    font-weight: 600;
}

} 


