.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 100%;
  min-height: 100vh;
  background-color: #f2f2f2;

  position: relative;
}

.container form {
  margin-top: 10px;
  min-width: 100%;
  min-height: 100%;
}

.input_img {
  display: flex;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  align-self: center;
  margin: auto;
}

/*********************  Estilos de los inputs  ***********************/

.container_input {
  max-width: 92%;
  margin: auto;
}

.container_input__multi {
  max-width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.inputs_multi {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 10px;
}

.input {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.button {
  width: 100%;
  background: #00a3ff;
  border: 1px solid #00c2ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  height: 47px;
}
