.btn {
  display: flex;

  padding: 10px;

    margin: auto;
    margin-top: 10px ;

  width: 100%;
  height: auto;

  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
border-radius: 20px;

 cursor: pointer;
}


/************************* Imagen de perfil **************************/

.container__imagen{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0.3;
}

.imagen{
    display: flex;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.25));

}

.imagen img{
    height: 100%;
    width: 100%;

    border-radius: 50%;
    object-fit: cover;
}
/************************* Texto de información **************************/
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;

    flex-grow: 1;
    margin-left: 10px;
}

.text h2{

    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 8px;

}

.text p{

    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 0px;

}

@media (max-width: 420px) {

    .imagen {
       width: 100px;
     height: 100px;
 
    }
 
    .text h2{
       font-size: 1.15rem;
 
    }
   
    .text p{
       font-size: 0.90rem;
    }
   
  }
 


@media (max-width:360px) {


    /************************* Imagen de perfil **************************/

    .imagen{
        height: 75px;
        width: 75px;
      
    }

    /************************* Texto de información **************************/

    .text h2{

        font-size: 0.90rem;
  
    
    }
    
    .text p{
    
        font-size: 0.85rem;
      
    
    }
}